<div
  fxLayout="row wrap"
  class="place-details mat-elevation-z2"
  fxLayoutAlign="space-around center"
  fxLayoutGap="2rem"
>
  <weather-base-info-card
    label="Dew point"
    value="{{ weather?.dew_point }} °C"
  ></weather-base-info-card>
  <weather-base-info-card
    label="Pressure"
    value="{{ weather?.pressure }}hPa"
  ></weather-base-info-card>
  <weather-base-info-card
    label="Humidity"
    value="{{ weather?.humidity }}%"
  ></weather-base-info-card>
  <weather-base-info-card
    label="Visibility"
    value="{{ weather?.visibility }} m"
  ></weather-base-info-card>
</div>
